<ion-view view-title="Bookmarks">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title class="item-icon-right">
        <i class="icon ion-ios-search-strong" ng-click="filterByTitle(false)"></i>
    </ion-nav-title>
    <ion-content has-header="true">
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="article in articles" type="item-text-wrap"
                      href="#/tab/wikipedia-articles/{{article.Text}}">
                <div>
                    <h3>{{article.Text}}</h3>
                    <p>{{article.Description}}</p>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
