<ion-view view-title="{{ article.Text }}">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/wikipedia-articles"></a>
    </ion-nav-buttons>
    <ion-nav-title>
        {{ article.Text }}
    </ion-nav-title>
    <ion-content class="list card">
        <div class="item" type="item-text-wrap" ng-click="openWikiWindow()">
            {{ article.Description }}
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#" ng-click="setBookmark()">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>

    </ion-content>
</ion-view>
